
:root {
  --zup-yellow: #FFD500;
  --zup-text-dark: #111;
  --zup-text-light: #444;
  --zup-background-light: #FFFFFF;
  --zup-background-grey: #f9f9f9;
  --zup-border-light: #eee;
}

body {
  margin: 0;
  font-family: 'Inter', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--zup-background-light);
  color: var(--zup-text-dark);
}

#root {
  position: relative;
  isolation: isolate;
}

